<a href="https://colab.research.google.com/github/A-THAKUR22/MarchAssignments/blob/main/Assignment5March12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Analisys with Pandas

SF Salaries Welcome to a quick exercise for you to practice your pandas skills! We will be using the SF Salaries Dataset Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

Q1:What is the average BasePay ?

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('Salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [2]:
average_base_pay = df['BasePay'].mean()
average_base_pay

66325.4488404877

What is the highest amount of OvertimePay in the dataset ?

In [3]:
Highest_overtimepay=df['OvertimePay'].max()
Highest_overtimepay

245131.88

What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [4]:
job = df[df['EmployeeName'] == 'JOSEPH DRISCOLL']
print(job['JobTitle'].iloc[0])

CAPTAIN, FIRE SUPPRESSION

How much does JOSEPH DRISCOLL make (including benefits)?

In [5]:
condition = df['EmployeeName'] == 'JOSEPH DRISCOLL'
money = df[condition]
print(money['TotalPayBenefits'].values[0])

270324.91

What is the name of highest paid person (including benefits)?

In [6]:
HighestPay=df['TotalPayBenefits'].idxmax()
Person_with_highest_pay=df.loc[HighestPay,'EmployeeName']
Person_with_highest_pay

'NATHANIEL FORD'

What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [7]:
LowestPaid=df['TotalPayBenefits'].idxmin()
LowestPaid_person=df.loc[LowestPaid,'EmployeeName']
LowestPaid_person

'Joe Lopez'

What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [8]:
ThreeYearData=df[(df['Year']>=2011) & (df['Year']<=2014)]
AverageBasePay=ThreeYearData.groupby('Year')['BasePay'].mean()
AverageBasePay

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

How many unique job titles are there?

In [9]:
All_jobs=df['JobTitle'].nunique()
All_jobs

2159

Q9:What are the top 5 most common jobs? A: Transit Operator 7036 Special Nurse 4389 Registered Nurse 3736 Public Svc Aide-Public Works 2518 Police Officer 3 2421

In [10]:
top_5_jobs = df['JobTitle'].value_counts().nlargest(5)
print("Top 5 most common jobs:")
print(top_5_jobs)

Top 5 most common jobs:
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

Q10:How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [11]:
Jobs_2013=df[df['Year']==2013]
Jobs_in_2013=Jobs_2013['JobTitle'].value_counts()
num_single_occurrence_jobs = (Jobs_in_2013 == 1).sum()
num_single_occurrence_jobs

202

Q11:How many people have the word Chief in their job title? (This is pretty tricky)

In [12]:
def chief(title):
  if 'chief' in title.lower():
    return True
  else:
    return False
sum(df['JobTitle'].apply(chief))

627

Bonus: Is there a correlation between length of the Job Title string and Salary?

In [13]:
df['Titlelen']=df['JobTitle'].apply(len)
df[['Titlelen','TotalPayBenefits']].corr()

                  Titlelen  TotalPayBenefits
Titlelen          1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000